<div >

<h1>About</h1>
<p>This is everything about LetsCodeTogether. This is where you can share code with your friends, co-worker and many others. </p>
<p>Made by Jeevan Adhikari, Hritik Jung Basnet, Pradip RanaBhat, Suchit Kafle and Sandesh Paudel sharma</p>  
</div>
